In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', 100)

data = pd.read_csv('Data/SMSSpamCollection.tsv', sep='\t', header=None)
data.columns = ['label', 'body_text']

data.head()

  label                                                                                            body_text
0   ham  I've been searching for the right words to thank you for this breather. I promise i wont take yo...
1  spam  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...
2   ham                                        Nah I don't think he goes to usf, he lives around here though
3   ham                        Even my brother is not like to speak with me. They treat me like aids patent.
4   ham                                                                  I HAVE A DATE ON SUNDAY WITH WILL!!

### Remove Punctuation

In [2]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [3]:
"I like NLP." == "I like NLP"

False

In [7]:
def remove_punct(text):
    text_nopunct = ''.join([char for char in text if char not in string.punctuation])
    return text_nopunct

data['body_text_clean'] = data['body_text'].apply(lambda x:remove_punct(x))
data.head()

  label  ...                                                                                      body_text_clean
0   ham  ...  Ive been searching for the right words to thank you for this breather I promise i wont take your...
1  spam  ...  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive e...
2   ham  ...                                          Nah I dont think he goes to usf he lives around here though
3   ham  ...                          Even my brother is not like to speak with me They treat me like aids patent
4   ham  ...                                                                    I HAVE A DATE ON SUNDAY WITH WILL

[5 rows x 3 columns]

### Tokenization

In [9]:
import re

def tokenize(text):
    tokens = re.split('\W', text)
    return tokens

data['body_text_tokenized'] = data['body_text_clean'].apply(lambda x: tokenize(x.lower()))
data.head()

  label  ...                                                                                  body_text_tokenized
0   ham  ...  [ive, been, searching, for, the, right, words, to, thank, you, for, this, breather, i, promise, ...
1  spam  ...  [free, entry, in, 2, a, wkly, comp, to, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, to...
2   ham  ...                            [nah, i, dont, think, he, goes, to, usf, he, lives, around, here, though]
3   ham  ...         [even, my, brother, is, not, like, to, speak, with, me, they, treat, me, like, aids, patent]
4   ham  ...                                                           [i, have, a, date, on, sunday, with, will]

[5 rows x 4 columns]

### Remove Stopwords

In [12]:
import nltk

stopword = nltk.corpus.stopwords.words('english')

In [13]:
def remove_stopwords(tokenized_list):
    text = [word for word in tokenized_list if word not in stopword]
    return text

In [14]:
data['body_text_nostop'] = data['body_text_tokenized'].apply(lambda x: remove_stopwords(x))
data.head()

  label  ...                                                                                     body_text_nostop
0   ham  ...  [ive, searching, right, words, thank, breather, promise, wont, take, help, granted, fulfil, prom...
1  spam  ...  [free, entry, 2, wkly, comp, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, 87121, receiv...
2   ham  ...                                                 [nah, dont, think, goes, usf, lives, around, though]
3   ham  ...                                              [even, brother, like, speak, treat, like, aids, patent]
4   ham  ...                                                                                       [date, sunday]

[5 rows x 5 columns]