# Evaluate the Ad Budget Dataset of XYZ Firm

#### 1: Import the dataset

In [1]:
#Import the required libraries
import pandas as pd

In [2]:
#Import the advertising dataset
df_adv_data = pd.read_csv("Data/Advertising Budget and Sales.csv", index_col=0)
df_adv_data

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1               230.1                 37.8                     69.2       22.1
2                44.5                 39.3                     45.1       10.4
3                17.2                 45.9                     69.3        9.3
4               151.5                 41.3                     58.5       18.5
5               180.8                 10.8                     58.4       12.9
..                ...                  ...                      ...        ...
196              38.2                  3.7                     13.8        7.6
197              94.2                  4.9                      8.1        9.7
198             177.0                  9.3                      6.4       12.8
199             283.6                 42.0                     66.2       25.5
200             232.1                  8.6                      8.7       13.4

[200 rows x 4 columns]

#### 2: Analyze the dataset

In [3]:
#View the initial few records of the dataset
df_adv_data.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [4]:
#Check the total number of elements in the dataset
df_adv_data.size

800

#### 3: Find the features or media channels used by the firm

In [5]:
#Check the number of observations (rows) and attributes (columns) in the dataset
df_adv_data.shape

(200, 4)

In [6]:
#View the names of each of the attributes
df_adv_data.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [7]:
#Create a feature object from the columns
X_feature = df_adv_data[["Newspaper Ad Budget ($)", "Radio Ad Budget ($)", "TV Ad Budget ($)"]]

In [8]:
#View the feature object
X_feature.head()

   Newspaper Ad Budget ($)  Radio Ad Budget ($)  TV Ad Budget ($)
1                     69.2                 37.8             230.1
2                     45.1                 39.3              44.5
3                     69.3                 45.9              17.2
4                     58.5                 41.3             151.5
5                     58.4                 10.8             180.8

In [9]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
Y_target = df_adv_data['Sales ($)']

In [10]:
#View the target object
Y_target

1      22.1
2      10.4
3       9.3
4      18.5
5      12.9
       ...
196     7.6
197     9.7
198    12.8
199    25.5
200    13.4
Name: Sales ($), Length: 200, dtype: float64

In [11]:
#Verify if all the observations have been captured in the feature object
X_feature.shape

(200, 3)

In [12]:
#Verify if all the observations have been captured in the target object
Y_target.shape

(200,)

#### 5: Split the original dataset into training and testing datasets for the model

In [13]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_feature, Y_target, random_state=1)

#### 6: Create a model  to predict the sales outcome

In [20]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(X_train, y_train)

LinearRegression()

In [21]:
#Print the intercept and coefficients 
print(linreg.intercept_)
print(linreg.coef_)

2.8769666223179176
[0.00345046 0.17915812 0.04656457]

In [22]:
#Predict the outcome for the testing dataset
y_pred = linreg.predict(X_test)

#### 7: Calculate the Mean Square Error (MSE)

In [23]:
#Import required libraries for calculating MSE (mean square error)
from sklearn import metrics
import numpy as np

In [24]:
#Calculate the RMSE
print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

1.4046514230328941